@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.filter__list{
    display: flex;
    list-style-type: none;
    border-top: solid 2px silver;
    width: 692px;
    margin-left: 75px;
}
.filter__item{
    padding-top: 16px;
    margin-right: 175px;
    width: 175px;
    text-align: center;

    &:active{
    border-top-width: 30px;
    border-top: solid 2px blue;
    }
}
.filter__link{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: black;
}

@media (max-width: 650px){
    .filter__list{
        display: flex;
        list-style-type: none;
        border-top: solid 2px silver;
        width: 317px;
        margin-left: 5px;
    }
}
@media  (max-width: 767px) {
    .filter__list{
        display: flex;
        list-style-type: none;
        border-top: solid 2px silver;
        width: 517px;
        margin-left: 45px;
        
    }
}
@media (min-width: 768px) and (max-width: 991) {
    .filter__list{
        display: flex;
        list-style-type: none;
        border-top: solid 2px silver;
        width: 690px;
        margin-left: 35px;
        
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .filter__list{
        display: flex;
        list-style-type: none;
        border-top: solid 2px silver;
        width: 740px;
        margin-left: 45px;
        
    }
}


